<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-primary"> 
        <div class="panel-heading">
          <h3 class="panel-title">
            Binary Packet Generator
          </h3>
        </div>
        <div class="panel-body">
          <div class="btn-group">
              <label class="btn btn-default" ng-model="framingSetting" 
                btn-radio="'0.09'">Strike</label>
              <label class="btn btn-default" ng-model="framingSetting" 
                btn-radio="'1.002'">Pow</label>
              <label class="btn btn-default" ng-model="framingSetting" 
                btn-radio="'15'">Rumble</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Audio 
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-default">
            message={{ message }}
          </p>
          <i class="fa fa-play btn btn-primary" ng-click="startPow()"></i>
          <i class="fa fa-stop btn btn-default" ng-click="stopPow()"></i>
          <!--
          <input class="btn btn-primary fa fa-search" type="button" value="Play" ng-click="startPow()">
          <input class="btn btn-primary" type="button" value="Stop" ng-click="stopPow()"/>
          ->
        </div>
      </div>
    </div>
  </div>
</div>
