/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

@ghastlybrown: darken( rgb( 200,120,0), 20%);
@text-color: black;
@brand-primary: black ;

@font-family-base: @font-family-monospace;

@border-radius-base: 17px;

@padding-base-horizontal: 5px;
@padding-base-vertical: 2px;

@grid-gutter-width: 15px;
@panel-body-padding: 25px;

@panel-bg: rgb( 252,252,255);

@navbar-default-bg: @panel-bg;
@navbar-default-link-color: black; 
@navbar-height: 28px;
